*.class

# IDE support files
.classpath
.launch
.project
*.launch
*.tmproj
ivy*
eclipse
*.iml
*.ipr
*.iws
*.log
.idea/
.settings/

# default HSQL database files for production mode
prodDb.*

# general HSQL database files
*Db.properties
*Db.script


# logs
stacktrace.log*
ExportService.log*
makalu.log*
test/reports/
logs/

# project release file
*.war

# plugin release file
*.zip

# older plugin install locations
plugins/
web-app/plugins/
web-app/WEB-INF/classes/

# "temporary" build files
target/
build/

# other
.temp

#plugin xml
plugin.xml
_version.gsp

#ExportService
**/temp/*.*

**/.asscache
**/.gradle
**/gradle/wrapper/**
**/gradlew
**/gradlew.bat
grails-app/assets/vendor/npm/**
gradle/**